<header class="text-bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <div class="col-md-3 mb-2 mb-md-0" href="/">
        <a class="d-inline-flex link-body-emphasis text-decoration-none">
            <h3 class="ms-4 text-white">BullsAndCows</h3>
        </a>
    </div>

    <ul class="nav mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/ranking" class="nav-link px-2 text-white">Ranking</a></li>
    </ul>

<!--    <div class="text-end d-flex justify-content-center">-->
<!--        <button type="button" class="btn btn-outline-light me-2">Login</button>-->
<!--        <button type="button" class="btn btn-light me-2">SignUp</button>-->
<!--    </div>-->

    <div class="text-end d-flex">
        <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/mypage'">MyPage</button>
        <button type="button" class="btn btn-light me-2" onclick="location.href='/'">Logout</button>
    </div>
</header>