<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bulls And Cows</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>

<header th:replace="/header :: header"></header>

<main class="container-fluid">

    <div class="mh-100 mb-4 row" style="height: 64px;">
            <div class="col-4">
                <div class="container d-flex justify-content-center align-items-center" id="div-info" style="font-size: 24px; height: 64px;"></div>
            </div>
            <div class="col-4 border border-black border-top-0 border-bottom-0 position-relative" style="height: 64px;">
                <a class="btn btn-outline-primary position-absolute top-50 start-50 translate-middle px-5 py-2" id="btn-next">Next</a>
                <a class="btn btn-primary position-absolute top-50 start-50 translate-middle px-5 py-2" id="btn-play">Play</a>
            </div>
            <div class="col-4">
                <div class="container d-flex justify-content-center align-items-center" id="div-score" style="font-size: 24px; height: 64px;"></div>
            </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <th:block th:each="i : ${#numbers.sequence(1, 5)}">
            <div class="m-2 border border-secondary container-fluid"
                 style="display: block; width: 300px; height: 200px;"
                 th:id="'div-try-' + ${i}">
                <div class="row h-50">
                    <th:block th:each="j : ${#numbers.sequence(1, 3)}">
                        <div class="col border border-primary d-flex align-items-center justify-content-center">
                            <img th:id="'img-circle-' + ${i} + '-' + ${j}"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII="
                                 th:alt="'circle-' + ${j}">
                        </div>
                    </th:block>
                </div>
                <div class="row h-50">
                    <th:block th:each="j : ${#numbers.sequence(1, 3)}">
                        <div class="w-50 d-flex flex-wrap align-items-center justify-content-center">
                            <h3 th:id="'judge-' + ${i} + '-' + ${j}" style="-webkit-text-stroke: 0.4px black;"></h3>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <th:block th:each="i : ${#numbers.sequence(1, 9)}">
            <button class="btn btn-outline-primary m-2" th:id="'btn-num-' + ${i}">[[${i}]]</button>
        </th:block>
    </div>

    <div class="container-fluid mh-100" style="height: 120px;">
        <div class="container-fluid d-flex justify-content-center">
            <button class="btn btn-primary m-3" id="btn-num-submit">Submit</button>
            <button class="btn btn-danger m-3" id="btn-num-reset">Reset</button>
        </div>
    </div>

</main>

<script th:inline="javascript">


    let gameID = 0;
    let userID = 6;
    let tryCount = -1
    let score = 0;

    let fillNumIndex = 1;
    let dataNumList = [1, 2, 3];
    let dataNum = "123";

    let stage = 1;

    const divTryIDHead = "#div-try-";
    let divTryID = divTryIDHead + "1";

    const imgSrcHead = "/static/image/circle-";
    const imgFormat = ".png";
    var imgSrc = imgSrcHead + "1" + imgFormat;

    const imgCircleIDHead = "#img-circle-";
    let imgCircleID = imgCircleIDHead + "1" + "-" + "1";
    let imgCircleList = [];
    for (let i = 1; i <= 5; i++) {
        for (let j = 1; j <= 3; j++) {
            imgCircleList.push($(divTryIDHead + i + " " + imgCircleIDHead + i + "-" + j));
        }
    }

    const divJudgeIDHead = "#judge-";
    let divJudgeID = divJudgeIDHead + "1" + "-" + "1";
    let divJudgeList = [];
    for (let i = 1; i <= 5; i++) {
        for (let j = 1; j <= 3; j++) {
            divJudgeList.push($(divTryIDHead + i + " " + divJudgeIDHead + i + "-" + j));
        }
    }

    const btnNumIDHead = "#btn-num-";
    let btnNumID = btnNumIDHead + "1";
    let btnNumList = [];
    for (let i = 1; i <= 9; i++) {
        btnNumList.push($(btnNumIDHead + i));
    }

    let isPlay = false;
    let judgeList = [];
    let judgeText = "";

    const emptyPNG = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=";
    const judgeTextList = [" Strike", " Ball", " Out"];
    const judgeColorList = ["green", "yellow", "red"];

    $.each(btnNumList, function (index, btnNum) {
        btnNum.on("click", function () {
            let imgNum = index + 1;

            if (fillNumIndex > 3) return;

            imgSrc = imgSrcHead + imgNum + imgFormat
            divTryID = divTryIDHead + (6 - tryCount);
            imgCircleID = imgCircleIDHead + (6 - tryCount) + "-" + fillNumIndex;

            $(divTryID + " " + imgCircleID).attr("src", imgSrc);

            dataNumList[fillNumIndex - 1] = imgNum;

            fillNumIndex++;
        });
    });


    $("#btn-num-reset").on("click", function () {
        divTryID = divTryIDHead + (6 - tryCount);

        for (let i = 1; i <= 3; i++) {
            imgCircleID = imgCircleIDHead + (6 - tryCount) + "-" + i;

            $(divTryID + " " + imgCircleID).attr("src", emptyPNG);

            fillNumIndex = 1;
        }
    });

    $("#btn-num-submit").on("click", function () {
        if (fillNumIndex <= 3) return;

        dataNum = dataNumList[0].toString() + dataNumList[1].toString() + dataNumList[2].toString();

        $.ajax({
            url: "/api/checkNum",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                "gameOption": "continue",
                "gameID": gameID,
                "userID": userID,
                "num": dataNum
            }),
            success: function (res) {

                responseLog(res);
                fillNumIndex = 1;

                judgeList = [res.judgement[0], res.judgement[1], 3 - res.judgement[0] - res.judgement[1]]
                divTryID = divTryIDHead + (6 - tryCount);

                for (let i = 1; i <= 3; i++) {
                    divJudgeID = divJudgeIDHead + (6 - tryCount) + "-" + i;
                    judgeText = judgeList[i-1] + judgeTextList[i-1];

                    $(divTryID + " " + divJudgeID).text(judgeText);
                }

                if (res.gameResult === "continue") {
                    tryCount = res.tryCount;

                    updateInfoScore("Stage : " + stage, score);

                } else if (res.gameResult === "next") {
                    tryCount = -1;
                    score += res.addScore;

                    updateInfoScore("Next Stage", score);

                    $("#btn-next").css("visibility", "visible");

                } else if (res.gameResult === "gameOver") {
                    tryCount = -1;
                    isPlay = false;

                    updateInfoScore("GameOver", res.totalScore);
                    $("#div-score").text("GameOver");
                    $("#btn-play").css("visibility", "visible");

                } else {
                    alert("Error");
                }

            },
            error: function (res) {
                alert(res);
            }
        });
    });

    $("#btn-play").on("click", function () {
        $.ajax({
            url: "/api/checkNum",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                "gameOption": "new",
                "gameID": gameID,
                "userID": userID,
                "num": "111"
            }),
            success: function (res) {
                responseLog(res);

                gameID = res.gameID;
                tryCount = 5;
                fillNumIndex = 1;
                stage = 1;
                isPlay = true;
                updateInfoScore("Stage : " + 1, 0);
                resetImgAndJudge();

                $("#btn-play").css("visibility", "hidden");

            },
            error: function (res) {
                alert(res);
            }
        });
    });

    $("#btn-next").on("click", function () {
        $.ajax({
            url: "/api/checkNum",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                "gameOption": "next",
                "gameID": gameID,
                "userID": userID,
                "num": "111"
            }),
            success: function (res) {
                responseLog(res);

                gameID = res.gameID;
                tryCount = 5;
                fillNumIndex = 1;
                stage++;

                updateInfoScore("Stage : " + stage, res.totalScore);
                resetImgAndJudge();

                $("#btn-next").css("visibility", "hidden");

            },
            error: function (res) {
                alert(res);
            }
        });
    });


    function resetImgAndJudge() {
        $.each(imgCircleList, function (index, imgCircle) {
            imgCircle.attr("src", emptyPNG);
        });

        $.each(divJudgeList, function (index, divJudge) {
            divJudge.text("");
        });
    }

    function responseLog(res) {
        console.log("-------------------------------");
        console.log("gameID : " + res.gameID);
        console.log("userID : " + res.userID);
        console.log("addScore : " + res.addScore);
        console.log("totalScore : " + res.totalScore);
        console.log("tryCount : " + res.tryCount);
        console.log("gameResult : " + res.gameResult);
        console.log("judgement : " + res.judgement);
        console.log("--------------------------------");
    }

    function updateInfoScore(info, score) {
        $("#div-info").text(info);
        $("#div-score").text("Score : " + score);
    }


    $("#btn-next").css("visibility", "hidden");

    for (let i=1; i<=5; i++) {
        divTryID = divTryIDHead + (6 - i);

        for (let j=1; j<=3; j++) {
            divJudgeID = divJudgeIDHead + (6 - i) + "-" + j;

            $(divTryID + " " + divJudgeID).css("color", judgeColorList[j-1]);
        }
    }

    window.addEventListener('beforeunload', function (e) {
      if (isPlay) {
        e.preventDefault();
        e.returnValue = '';
      }
    });
</script>

</body>
</html>